<div class="main">
    <div class="div-1">
        <img src="../../../assets/SignUp-Image.png" style="width: 250px; height: 250px; border-radius: 100%;">
        <span class="div-1-span">ONLINE BOOK SHOPPING</span>
    </div>
    <mat-card class="div-2">
        <div style="display: flex; gap:120px">
            <button  class="buttons buttons-font" style="opacity: .6;">
                LOGIN
            </button>
            <button class="buttons buttons-font">
                SIGNUP
            </button>
        </div>
        <div>
            <form  style="align-items: center;">
                <div style="display: flex; flex-direction:column;">
                    <span>Full Name</span>
                    <mat-form-field appearance="outline">
                        <input matInput type="text" class="input-field">
                        <mat-error>Enter full name</mat-error>
                    </mat-form-field>
                </div>
                <div style="display: flex; flex-direction:column;">
                    <span>Email Id</span>
                    <mat-form-field appearance="outline">
                        <input matInput  type="text" class="input-field" >
                        <mat-error>Enter Email Id</mat-error>
                    </mat-form-field>
                </div>
                <div style="display: flex; flex-direction:column;">
                    <span>Password</span>
                    <mat-form-field appearance="outline">
                        <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" required>
                        <mat-icon  style="color:#9D9D9D" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>                        
                        <mat-error>Enter Password</mat-error>
                    </mat-form-field>
                </div>
                <div style="display: flex; flex-direction:column; margin-top: 0px;">
                    <span>Phone Number</span>
                    <mat-form-field appearance="outline">
                        <input matInput type="text" class="input-field" >
                        <mat-error>Enter Mobile</mat-error>
                    </mat-form-field>
                </div>
                <button class="buttons button-signup">SIGNUP</button>
            </form>
        </div>
    </mat-card>

</div>