<div class="main">
    <div class="div-1">
        <img src="../../../assets/education.svg">
        <span class="header-font">Bookstore</span>
    </div>
    <div class="div-2">
        <span style="font-size: 20px;">Reset Your Password</span>
        <form  class="formclass" [formGroup]="resetForm" (ngSubmit)="onSubmit()">
            <span style="opacity: .6;">Enter your new password below</span>
            <div style="display: flex; flex-direction:column; margin-top: 20px;">
                <span>Password</span>
                <mat-form-field appearance="outline">
                    <input matInput type="text" class="input-field" formControlName="password">
                    <mat-error>Enter Password</mat-error>
                </mat-form-field>
            </div>
            <div style="display: flex; flex-direction:column; margin-top: 20px;">
                <span>Confirm Password</span>
                <mat-form-field appearance="outline">
                    <input matInput type="text" class="input-field" formControlName="confirmPassword">
                    <mat-error>Enter Confirm Password</mat-error>
                </mat-form-field>
            </div>
            <button class="buttons button-signup" style="margin-top: 20px;">Confirm</button>
            
        </form>
       
        <div style=" width: 36%;">
            <button mat-flat-button class="btn" routerLink="/login">LOGIN</button>
        </div>
</div>